<section class="product-specification">
    <div class="item">
        <h4>
            Fluffy Rug
        </h4>
        <div class="item_content">
            {{product.metafields.custom.fluffy_rug}}
        </div>
    </div>
    <div class="item">
        <h4>
            Materials & Care
        </h4>
        <div class="item_content">
            {{product.metafields.custom.materials_care}}
        </div>
    </div>
    <div class="item">
        <h4>
            Materials & Care
        </h4>
        <div class="item_content">
{{product.metafields.custom.dimensions}}
        </div>
    </div>
</section>